*{
    margin: 0;
    padding: 0;
}
#container{
    width: 300px;
    border:1px solid #000;
}
#container h2{
    background: #000000;
    color:#fff;
    cursor: pointer;
}
#container ul{
    display: none;
}