*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
#container{
    width: 750px;
    height: 350px;
    overflow: hidden;
    margin: 50px auto;
    position: relative;
}
.img-box{
    width: 3750px;
    /* 图片相对于父元素定位，可出现滑动效果 */
    position: absolute;
    left: 0px;
    top: 0px;
    /* 图片过渡 */
    transition: left 1s ease ;

}
.img-box li{
    float: left;
    width: 750px;
}
.img-box img{
    width: 750px;
    height: 350px;
    border: 1px solid navajowhite;
}
.btn-box{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.arrow-box{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.btn-box li,.arrow-box li{
    float: left;
    width: 35px;
    height: 20px;
    background: coral;
    border: 1px solid palegoldenrod;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    margin-left: 5px;
    cursor: pointer;
}
.btn-box .active{
    background: lightpink;
}