*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
#container{
    width: 500px;
    height: 291px;
    overflow: hidden;
    margin:50px auto;
    position: relative;
}
.img-box{
    width: 2500px;
}
.img-box li{
    /* display: none; */
    float: left;
    width: 500px;
}
.img-box img{
    display: block;
    width: 500px;
    height: 500px;
}
.img-box .selected{
    display: block;
}
.btn-box{
    position: absolute;
    right:0px;
    bottom:5px;
}
.btn-box li{
    float: left;
    width: 40px;
    height: 20px;
    background: rgba(0,0,0,0.3);
    color:papayawhip;
    margin-right: 5px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer; /*鼠标滑过手状*/
}
.btn-box .active{
    background: gray;
}
.arrow-box{
    position: absolute;
    left:0px;
    bottom:5px;
}
.arrow-box li{
    float: left;
    width: 40px;
    height: 20px;
    background: rgba(0,0,0,0.3);
    color: papayawhip;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}
/* . img-box img{
    width: 500px;
    height: 300px;
} */